*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: abel;
}

#main{
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;

}


#navbar {
  width: 100vw;
  height: 70px;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

}
@media only screen and (max-width: 520px){
  #navbar{
    height: 60px;
  }
}
@media only screen and (max-width: 750px){
  #navbar{
    height: 60px;
  }
}

#nav_logo{
  width: 30%;
  height: 100%;
  float: left;

  display: flex;
  align-items: center;

}
#n_logo{

  width: 30%;
  height: 50%;
  background-image: url(Image/aas.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}


#n_title h1{
  line-height: 70px;
  margin: 0px 0px 0px 10px;
  color: #FF7127;
  letter-spacing: 3px;
  transition: all .3s;
}
#n_title h1:hover{
  color: white;
  /* font-size: 1.9em; */
}
#nav_items{
  width: 60%;
  height: 100%;
  float: right;
}

#nav_items ul{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style-type: none;

}
#nav_items ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0px 15px ;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 2px;

}
#nav_items ul li a{
  text-decoration: none;
  color: #FF7127;
  transition: all .3s;
}
#nav_items ul li a:hover{
  color: white;
  font-size: 1.5em;

}
@media only screen and (max-width: 360px){
  #nav_logo{
    width: 50%;
    font-size: .8em;
   /* border: 1px solid red;*/
  }
  #nav_logo h1{
    line-height: 60px;
  }
  #nav_items{
    display: none;
  }
}

@media only screen and (max-width: 750px){
  #nav_logo {
    width: 40%;
   /* border: 1px solid red;*/

  }
  #nav_logo h1{
    line-height: 70px;
    font-size: 1.8em;
  }
  #nav_items{
    display: none;
}

}



#hero_img{
  width: 100vw;
  height: 100vh;
  background-Image: url(Image/aa1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  display: flex;
  justify-content: flex-end;
  align-items:center;

}

#contact1{
  margin-top: 40px;
  margin-right: 50px;
  z-index: 0;
  width: 40%;
  height: 70%;
  background: rgba(0,0,0,.5);
}
#contact1 fieldset{
  width: 90%;
  height: 93%;
  font-size: 1.3em;
  margin: 10px auto;
}
#contact1 legend{
  margin: 0px  30px;
  color: #FF7129;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
 /* text-shadow: 1px 1px 2px #FF7127;*/
}
#contact1 fieldset h2{
  color: #FF7127;
  margin: 10px 0px 10px 20px;
 /* text-shadow: 1px 1px 2px #FF7127;*/
}
#contact1 fieldset p{
  color: white;
  font-weight: 500;
  font-size: 1.0em;
  margin: 10px 0px 10px 50px;
  letter-spacing: 2px;
}
#contact1 a{
  text-decoration: none;
  color: white;
  transition: all .3s;
}
#contact1 a:hover{
  color: #FF7127;
  margin: 10px;
}
#contact1 i{
  display: block;
  color: white;
  width: 20px;
  float: left;
  margin: 3px 5px 2px 20px;
}

@media only screen and (max-width: 520px){
  #hero_img{
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url(Image/nav_logo.png);


  }
  #contact1{
    margin-top: 50px;
    margin-right: 0px;
    width: 90vw;
    height: 70%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.8);
  }
  #contact1 fieldset{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin: 0px;
    border-radius: 3px;
  }
  #contact1 fieldset h2{
   margin: 5px 20px;
   font-size: 1.2em;


  }
   #contact1 fieldset p{
     margin: 0px 0px 2px 60px;
     font-size: 1em;
     letter-spacing:0px;
   }
   #contact1 fieldset i{
     width: 20px;
    margin: 0px 3px 0px 40px;

   }
   #contact1 legend{
     margin: 20px auto;
   }

}

@media only screen and (max-width: 750px){
    #hero_img{
    height: 70vh;
    justify-content: center;
    align-items: center;
    
  }
  #contact1{
    margin-top: 50px;
    margin-right: 0px;
    width: 90vw;
    height: 70%;
    padding: 10px;
    border-radius: 3px;
  }
  #contact1 fieldset{
    width: 100%;
    height: 100%;
    font-size: 1em;
    margin: 0px;
    border-radius: 3px;
  }
  #contact1 fieldset h2{
   margin: 10px 20px;
   font-size: 1em;


  }
   #contact1 fieldset p{
     margin: 0px 0px 2px 60px;
     font-size: .9em;
     letter-spacing:0px;
   }
   #contact1 fieldset i{
     width: 20px;
    margin: 0px 3px 0px 40px;

   }
   #contact1 legend{
     margin: 20px auto;
   }

  }










#welcome_main{
  margin: auto;
  padding: 20px;
  width: 95vw;
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

#locations{
  width: 25vw;
  height: 100%;
  overflow: auto;
  margin: 0px 5px;
  /*border: 1px solid #FF7129;*/

}

#locations::-webkit-scrollbar {
  width: 6px;
}

#locations::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: gray;
  border-radius: 3px;
}

#locations h2{
  padding: 15px 0px 3px 10px;
  color: #FF7129;
  font-size: 1.2em;

}

#locations ul{
  padding: 5px 0px 15px 15px;
  list-style-type: none;
}

#locations ul li a{
  display: block;
  margin: 5px;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 1px solid #FF7129;
  transition: all .2s;
}
#locations ul li a:hover{
  color: white;
  background-color: black;
}

#welcome{
  width: 50vw;
  height: 100%;
  margin: 0px 5px;
  border: 1px solid #FF7129;
}
#welcome h1{
  color: #FF7129;
  text-align: center;
  padding: 15px 10px;
}
#welcome img{
  display: block;
  padding: 10px;
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 50% 0px 0px 50%;
  border: 1px solid #FF7129 ;
}
#welcome p{
  color: #2F2F2B;
  font-size: 1.0em;
  padding: 15px 13px;
}
#read{
  width: 100px;
  background-color: #FF7129;
  height: 25px;
  float: right;
  margin-right: 15px;
  transition: all .3s;
}
#read:hover{
  background-color: black;
}
#read a{
  display: block;
  font-size: 19px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}


#form{
  width: 25vw;
  height: 100%;
  /*border-radius: 5px;*/
  padding: 10px 30px;
  font-size: 1.3em;
  background-color: whitesmoke;
  /*border: 1px solid #FF7129;*/
  margin: 0px 5px;
}
#form h1{
  margin: 25px 0px 35px 0px;
  color: gray;
  font-size: 35px;
  text-align: center;
}
#form input{
  padding-left: 10px;
  border: 2px solid #FF7129;
  width: 100%;
  height: 35px;
  margin: auto;
  font-size: .65em;

}

#form textarea{
  border: 2px solid #FF7129;
  width: 100%;
  height: 100px;
  margin: 5px 0px;
  padding: 10px;
  font-size: .65em;

}

#f_submit input{
  color: white;
  font-weight: 800;
  height: 35px;
  background-color: #FF7129;
  letter-spacing: 2px;
  border:0px ;
  transition: all .3s;
}
#f_submit input:hover{
  color: white;
  background-color: black;
}

@media only screen and (max-width: 520px){
  #welcome_main{
    height: min-content;
    flex-flow: column-reverse nowrap;


  }
  #locations{
  width: 100vw;
  height: min-content;
  margin: 50px 0px;
  overflow: auto;
 }
 #welcome{
   width: 100vw;
   height: min-content;
   margin: 50px 0px;
   overflow: auto;
   border: none;
 }
 #welcome h1{
   font-size: 1.6em;
 }
 #form{
   width: 100vw;
   height: min-content;
   margin: 0px 0px;


 }

}


@media only screen and (max-width: 750px){
  #welcome_main{
    height: min-content;
    flex-flow: column-reverse nowrap;


  }
  #locations{
  width: 100vw;
  height: min-content;
  margin: 0px 0px;
  overflow: auto;
 }
 #welcome{
   width: 100vw;
   height: min-content;
   margin: 50px 0px;
   overflow: auto;
   border: none;
 }
 #form{
   width: 100vw;
   height: min-content;
   margin: 50px 0px;
   }
 #form textarea{
   border: 1px solid #FF7129;
 }
 #form input{
   border: 1px solid #FF7129;
 }

}







#info{
  width: 100vw;
  margin-top: 40px;
  height: 250px;
  display: flex;
  justify-content: center;


}
.in{
  width: 29vw;
  height: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0px 12px;


}
.in h2{
  margin: 50px 10px 0px 10px;
  width: 20vw;
  text-align: left;
  color: #F37129;
  float: left;
}
.in p{
  margin: 5px 10px 0px 10px;
  text-align: left;
  width: 20vw;
  color: gray;
  float: left;
}
.in img{
  display: block;
  margin: 52px 10px 0px 15px;
   float: left;


}
.info_read{
  width: 150px;
  height: 30px;
  margin: 200px 0px 0px 60px;
  clear: both;
  transition: all .3s;
}
.info_read:hover{
  background-color: black;
}
.info_read a{
  text-decoration: none;
  color: #FF7129;
}

#info_1{
  border-right: 1px solid #FF7129;
}

#info_2{
  border-right: 1px solid #FF7129;
}

@media only screen and (max-width: 520px){
  #info{
    height: min-content;
    flex-flow: column nowrap;
  }
  .in{
    width: 100vw;
    margin: 50px auto;
    border: none;
  }
  .in img{
    float: none;
    margin: auto;
  }
  .in h2 {
    margin: 20px 0px 0px 0px;
    width: 100vw;
    text-align: center;
    color: #F37129;
  }

  .in p {
    margin: 10px 0px 20px 0px;
    text-align: center;
    width: 100vw;
    color: gray;
    padding: 5px;
  }
  .info_read{
   width: 150px;
  height: 30px;
  margin: 20px;
  margin: auto;
  border: 1px solid #FF7129;

  }



  }













#phone{
  display: flex;
  flex-flow: nowrap;
  width: 90vw;
  height: 150px;
  margin-top: 80px;
  margin-left: 80px;
  border: 1px solid #FF7129;
}

#phone_1 p{
  font-size: 1.6em;
  margin-left: -250px;
}

#phone_1{
  margin: auto;

}
#phone_2{
  margin-left: 70px;
  background-color: #FF7129;
  width: 300px;
}
#phone_2:hover{
  background-color: black;
}

#phone_2 a{
  line-height: 150px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  /*font-weight: 600;*/
  padding-left: 80px;
}
@media only screen and (max-width: 520px), (max-width: 750px){
  #phone{
    display: none;
  }
}
#wall{
  margin: auto;
  margin-top: 50px;
  width: 90vw;
  height: 65vh;
  background-Image: url(Image/aaa.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media only screen and (max-width: 750px){
	#wall{
		margin-top: 0px;
	}
}








#footer{
  width: 100vw;
  height: 60vh;
  background-color: rgb(51,51,51);

  display: flex;
  justify-content: flex-end;
}


#f1{
  margin: 0px 20px;
  width: 30vw;
  height: 100%;
}
#f1_logo{
  width: 55%;
  height: 35%;
  background-Image: url(Image/logu.png);
  background-size: 80% 50%;
  background-repeat: no-repeat;
  background-position: left center;

}
#f1_para h3{
   color: #aaa;
   font-weight: 200;
   line-height: 30px;
}
#f1_para p{
   color: #aaa;
   padding-top: 30px;
   font-weight: 600;

}
#f2{
   margin: 0px 20px;
   width: 30vw;
   height: 100%;
}
#f2_head{
  width: 100%;
  height: 25%;
}
#f2_head h1{
  color: white;
  margin-top: 40px;
}
#f2_items p{
  line-height: 30px;
  color: #aaa;
  margin: 0px 0px 10px 30px;
  text-align: left;
  /*float: right;*/

}
#f2_items i{
  display: block;
  color: rgb(118,118,118);
  float: left;
  font-size: 20px;
  margin: 3px 5px 2px 0px;
}
#f2 a{
   transition: all .2s;
}
#f2 a:hover{
  color: #FF7127;
  font-size: 1.5em;
}
#f2_items a{
  text-decoration: none;
  color: #aaa;
}
#f3{
    margin: 0px 20px;
   width: 22vw;
   height: 100%;
}


#f3 h1{
  color: white;
  margin-top: 40px;
  margin-left: 10px;
}

#f3 ul{
  list-style-type: none;
}
#f3 ul li{
  display: inline-block;
  margin: 45px 10px 0px 10px;
}

#f3 a{
  text-decoration: none;
  color: rgb(118,118,118);

}
#f3 a i{
  color: rgb(118,118,118);
  font-size: 20px;
  transition: all .3s;
}
#f3 i:hover{
   color: #FF7127;
   font-size: 2.5em;
   transform: rotate(360deg);
}

@media only screen and (max-width: 520px){
  #footer{
    height: min-content;
    flex-flow: column nowrap;
    justify-content: center;
  }
  #f1{
    width: 90vw;
    height: 50vh;
    margin: 0px;
    /* padding: 5px; */
    }
   #f1_logo{
     width: 50%;
     height: 40%;
   }
  #f1_para h3{
    padding: 5px;
    margin-left: 20px;
  }
  #f1_para p{
    padding-top: 10px;
    padding-left: 20px;
  }


  #f2{
    height: 30vh;
    width: 90vw;
    margin: 0px;
    padding: 5px;
    margin: 30px 0px 0px 20px;
    


  }
  #f2 h1{
    margin: 0px;
    
  }
  #h2_items i{
    color: red;

  }

  #f3{
    height: 25vh;
    width: 90vw;


  }

}











#niko{
  width: 100vw;
  height: 10vh;
  text-align: center;
  background-color: rgb(68,68,68);
  color: #aaa;
}
#niko p{
  line-height:10vh;
  font-size: 1.2em;
}
#niko a{
  text-decoration:dashed;
  color: white;
  transition: all .3s;
}
#niko a:hover{
  color: #FF7127;
  text-shadow: 1px 1px 5px #FF7127;
  font-size: 2.0em;
}

#niko:hover{
  background-color: rgb(118,118,118);
}

